* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

[class*="col-"] {
    min-height: 7px;
    padding: 11px;
    float: left;
}
