@mixin texto ($padd){
  font-family: $fuente-principal;
  color: $gris-texto;
  line-height: 1.5em;
  padding: ($padd);
}

@mixin titulos (){
  font-family: $fuente-principal;
  color:$gris-titulos;
}

@mixin fechas ($padd){
  font-family: $fuente-fechas;
  font-size: $texto-tamano;
  color:$gris-fecha;
  padding: ($padd);
}
